.logistic {
    padding: 120px 0px 20px;

    &-title {
        font-size: 46px;
        line-height: 58px;
        font-weight: 500;
        color: #332;
        text-align: center;
        padding-bottom: 40px;
    }

    &__boxs {
        display: grid;
        grid-template-columns: 1fr 500px;
        grid-gap: 20px;

        &-left {
            img {
                width: 100%;
            }
        }

        &-right {
            &-title {
                font-size: 18px;
                font-weight: 300;
                color: rgb(37, 37, 37);
            }
        }
    }

    @media (max-width:1100px) {
        &__boxs {
            grid-template-columns: 1fr;
        }
    }

    @media (max-width:620px) {
        padding: 90px 0px 20px;

        &__boxs-right-title {
            font-size: 14px;
            line-height: 18px;
        }

        &-title {
            font-size: 22px;
            line-height: 28px;
            padding-bottom: 20px;
        }
    }
}