.statistic {
    &__title {
        font-size: 46px;
        font-weight: 600;
        color: #333;
        text-align: center;
        padding: 50px 0px;
    }

    &__info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;

        &-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &-title {
                font-size: 69px;
                font-weight: 600;
                color: #003E87;
            }

            &-text {
                font-size: 22px;
                font-weight: 500;
                color: #333;
            }
        }

    }

    @media (max-width:850px) {
        &__title {
            font-size: 28px;
            line-height: 34px;
        }

        &__info-card-title {
            font-size: 42px;
        }

        &__info-card-text {
            font-size: 18px;
        }
    }

    @media (max-width:680px) {
        &__info {
            grid-template-columns: 1fr;
        }

        &__title {
            padding: 20px 0px;
        }
    }
}